.service-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.row{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
    align-items: center;
    align-self: normal;
  /* height: min-content; */
  align-items: stretch;
}
.col{
    margin:2rem
}
.column{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.card{
  /* border-top-left-radius: 300px; */
  /* border-bottom-right-radius: -600px; */

}
.service .card{
  border-radius: 100px;
  height: 100%;
  background-color: white;
  justify-content: center;
}
.service-image{
  height: 50%;
  /* display: block; */
  vertical-align: middle;

}
.service-body{
  /* background-color: rgba(16, 31, 60, 0.752);; */
  color:white;
  height: 55%;
  padding-top: 40px;
  padding-bottom: 50px;
  font-family:Arial, Helvetica, sans-serif
}
.service-body h5,h4,h3{
  color:rgb(249, 53, 53)
}
.service-body p{
  /* display: flex; */
  font-size: larger;
  color:rgba(245, 245, 245, 0.917);
  /* color:black; */
  /* align-items: stretch; */
}
ul{
  color:rgba(245, 245, 245, 0.917);
 width: 100%;
}
li{
  /* width:100%; */
  /* font-stretch:wider;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  font-size: larger; */
}
.img-b{
  height:30rem;
  width:30rem;
  display: flex;
  align-self:center;
  justify-self: center;
}