.mission-cards{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.card {
    justify-content: center;
    align-items: center;
    align-self: normal;
    /* border-radius: 7%; */
    margin: 10px;
    width: 18rem;
    background:white;
    border: 0.5px solid rgba(0, 0, 0, 0.151);
    height: 100%;
    

   }