.about-parent{
    padding: 50px;
}
.about-container {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin: 40px;
padding: 40px;

}

.about-image {
width: 500px;
height: 500px;
margin-right: 50px;
}

.about-text {
max-width: 600px;
}

.about-text h1 {
font-size: 36px;
margin-bottom: 20px;
display:center;
}

.about-text p {
font-size: 20px;
line-height: 1.5;

display:flex;
}