.slideshow {
    position: relative;
    overflow: hidden;
    
    /* display: flex; */
    /* justify-content: left; */
  }
  .imagesslide {
    /* background: url(slideshow.jpg); */
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300%;
    animation: slideshow 30s linear infinite;
  }
  .imgslide{
    display: flex;
    height: 200px;
    transition: opacity 0.5s ease-out; 
  }
  .imgslide img{
    margin:10px;
    width:20%;
    transform: translate3d(0, 0, 0);
    animation: moveSlideshow 20s linear infinite;
  }
  @keyframes slideshow {
    0%    { left: -500%; }
    100%  { left: 0; }
  }
  @keyframes slideshow {
    100% { 
        -webkit-transform: translateX(-200%);  
      }
  }



  .imagesslide2 {
    /* background: url(slideshow.jpg); */
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300%;
    animation: slideshow 30s linear infinite;
  }
  .imgslide2{
    display: flex;
    height: 200px;
    transition: opacity 0.5s ease-in-out; 
  }
  .imgslide2 img{
    margin:10px;
    width:20%;
    animation: moveSlideshow 20s linear infinite;
  }
  